:root{
    --white: #fffbeb;
    --orangeish: #fef3c7;
    --bone: #fde68a;
    --woodish: #b45309;
}

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Gentium Book Basic', serif;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
}

.header,
.footer{
    display: flex;
    align-items: center;
    background-color: var(--bone);

}
.header{
    justify-content: space-around;
}

.footer{
    justify-content: center;
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    background-color: var(--orangeish);
}

.new-book{
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: var(--woodish);
    color:var(--white);
    border: none;
    border-radius: 20px;
}

.new-book:active{
    background-color: #78350f;
}
